In [0]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import pandas as pd
import io
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files
from sklearn.svm import LinearSVC
import sklearn.ensemble as skens

In [0]:
#Upload data:
uploaded = files.upload()

Saving data.csv to data (3).csv

In [0]:
#Upload test:
uploaded2 = files.upload()

Saving test.csv to test (6).csv

In [0]:
#Upload submission model:
submodel = files.upload()

Saving sample_submission.csv to sample_submission (5).csv

In [0]:
data = pd.read_csv(io.StringIO(uploaded['data.csv'].decode('utf-8')))

def corrmatrix(data):
  corr = data.corr()
  plt.figure(figsize = (10,8))
  hm=sns.heatmap(corr,
              xticklabels=corr.columns.values,
              yticklabels=corr.columns.values,
              annot=True,fmt='.2f',linewidths=0.30, cmap = "coolwarm")
  plt.title('Correlation of df Features', y = 1.05, size=15)
  hm.set_ylim(8,0,0)
#corrmatrix(data)
def clean(data):
  cut_num = {'Ideal':1,'Premium':2,'Very Good':3,'Good':4,'Fair':5}
  data.replace({'cut':cut_num}, inplace=True)
  color_num = {'G':1,'E':2,'F':3,'H':4,'D':5,'I':6,'J':7}
  data.replace({'color':color_num}, inplace=True)
  clarity_num = {'SI1':1,'VS2':2,'SI2':3,'VS1':4,'VVS2':5,'VVS1':6,'IF':7,'I1':8}
  data.replace({'clarity':clarity_num}, inplace=True)
  data.drop(['x','y','z'],inplace=True,axis=1)
  y = data.price
  X = data.drop(['price'],inplace=False,axis=1)
  return X,y

Como la correlacion entre X,Y,Z y carat es alta elimino X,Y,Z y me quedo con carat.

In [0]:
'''steps = [
    StandardScaler(),
    Normalizer(),
    PCA(n_components=6)
]
pipe = make_pipeline(*steps)
X = pipe.fit_transform(X)
'''
X,y = clean(data)
df = pd.DataFrame(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
df.head()

   carat  cut  color  clarity  depth  table
0   2.26    1      1        3   61.9   57.0
1   2.43    3      4        3   63.2   57.0
2   0.80    2      3        3   61.0   57.0
3   0.40    1      3        8   63.3   60.0
4   0.31    1      1        2   61.6   55.0

In [0]:
from sklearn.ensemble import RandomForestRegressor

SVM = LinearSVC()
FOREST = skens.RandomForestRegressor(n_estimators=2000)
GDNT = skens.GradientBoostingRegressor(n_estimators=50000)
LOG =  LogisticRegression(solver='lbfgs', max_iter=2000)
gradient = GDNT.fit(X, y)

In [0]:
pred = gradient.predict(X_test)

In [0]:
scores = pd.DataFrame({
    "predicted":pred,
    "gt":y_test
})
scores["diff"] = np.abs(scores["predicted"]-scores["gt"])
scores["diff"].sum()/ len(y_test)
scores

          predicted     gt        diff
7416    1937.300649   2075  137.699351
20582   1663.824291   1590   73.824291
11267   4819.983588   5037  217.016412
15719  12753.732813  13171  417.267187
8277    2475.990943   2528   52.009057
...             ...    ...         ...
17894   1792.275725   1770   22.275725
28732   2104.620914   1953  151.620914
7951    1221.726996   1268   46.273004
35334   1243.197239   1195   48.197239
12814    604.306922    561   43.306922

[8091 rows x 3 columns]

In [0]:
from sklearn.metrics import r2_score, mean_squared_error
r2 = r2_score(y_test,pred)
r_k = mean_squared_error(y_test,pred)
print(r2, (r_k**0.5))

0.9932387892360783 329.29115281003146

In [0]:
data_test = pd.read_csv(io.StringIO(uploaded2['test.csv'].decode('utf-8')))

In [0]:
cut_num = {'Ideal':1,'Premium':2,'Very Good':3,'Good':4,'Fair':5}
data_test.replace({'cut':cut_num}, inplace=True)
color_num = {'G':1,'E':2,'F':3,'H':4,'D':5,'I':6,'J':7}
data_test.replace({'color':color_num}, inplace=True)
clarity_num = {'SI1':1,'VS2':2,'SI2':3,'VS1':4,'VVS2':5,'VVS1':6,'IF':7,'I1':8}
data_test.replace({'clarity':clarity_num}, inplace=True)

data_test.head()

   id  carat  cut  color  clarity  depth  table     x     y     z
0   0   0.56    1      6        2   62.1   54.0  5.30  5.33  3.30
1   1   1.05    1      1        2   61.9   56.0  6.56  6.52  4.05
2   2   0.50    2      2        2   61.5   56.0  5.11  5.07  3.13
3   3   0.80    1      3        4   62.8   56.0  5.91  5.96  3.73
4   4   0.54    1      1        4   61.4   57.0  5.23  5.20  3.20

In [0]:
data_test.drop(['x','y','z'],inplace=True,axis=1)

In [0]:
X = data_test.drop(['id'],inplace=False,axis=1)
id_diams = data_test['id']
'''steps = [
    StandardScaler(),
    Normalizer(),
    PCA(n_components=6)
]
pipe = make_pipeline(*steps)
X = pipe.fit_transform(X)'''
df = pd.DataFrame(X)
df.head()

   carat  cut  color  clarity  depth  table
0   0.56    1      6        2   62.1   54.0
1   1.05    1      1        2   61.9   56.0
2   0.50    2      2        2   61.5   56.0
3   0.80    1      3        4   62.8   56.0
4   0.54    1      1        4   61.4   57.0

In [0]:
y_test_pred = gradient.predict(X)

In [0]:
predicted = pd.DataFrame({
    'price': y_test_pred
})
predicted.head()

         price
0  1250.468788
1  6711.571554
2  1645.565486
3  3909.739871
4  1763.985628

In [0]:
data_sub = pd.read_csv(io.StringIO(submodel['sample_submission.csv'].decode('utf-8')))

In [0]:
data_sub['price']=y_test_pred
data_sub

          id         price
0          0   1250.468788
1          1   6711.571554
2          2   1645.565486
3          3   3909.739871
4          4   1763.985628
...      ...           ...
13480  13480   2201.367251
13481  13481   2003.580395
13482  13482  10903.649755
13483  13483    559.253427
13484  13484   1283.888410

[13485 rows x 2 columns]

In [0]:
data_sub.to_csv(f"submission-{r2}-50000.csv",index=False) 
files.download(f"submission-{r2}-50000.csv")